<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAMzYzmWhp3cJ3iPfgcNAI_SxdQqX46kaA</string>
	<key>GCM_SENDER_ID</key>
	<string>376469018316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.servicio</string>
	<key>PROJECT_ID</key>
	<string>servicio-e3883</string>
	<key>STORAGE_BUCKET</key>
	<string>servicio-e3883.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376469018316:ios:3a3b9727898fff9bba9469</string>
</dict>
</plist>